infra/colmap-worker/n8n-workflow-3d-reconstruction.json
{
  "name": "3D Room Reconstruction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d-reconstruct",
        "responseMode": "immediately",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/reconstruct",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ propertyId: $json.body.propertyId, imageUrls: $json.body.imageUrls }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-colmap",
      "name": "Call COLMAP Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-id",
              "name": "jobId",
              "value": "={{ $json.jobId }}",
              "type": "string"
            },
            {
              "id": "property-id",
              "name": "propertyId",
              "value": "={{ $('Webhook Trigger').item.json.body.propertyId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "save-job-id",
      "name": "Save Job Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:5000/status/{{ $json.jobId }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-completed",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 300]
    },
    {
      "parameters": {},
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-failed",
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {},
      "id": "failed-stop",
      "name": "Failed — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1960, 340]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Call COLMAP Worker", "type": "main", "index": 0 }]
      ]
    },
    "Call COLMAP Worker": {
      "main": [
        [{ "node": "Save Job Info", "type": "main", "index": 0 }]
      ]
    },
    "Save Job Info": {
      "main": [
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30s": {
      "main": [
        [{ "node": "Check Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Status": {
      "main": [
        [{ "node": "Is Complete?", "type": "main", "index": 0 }]
      ]
    },
    "Is Complete?": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }],
        [{ "node": "Is Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Is Failed?": {
      "main": [
        [{ "node": "Failed — Stop", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "3D Reconstruction" }
  ]
}
